
hw1/data/.DS_Store
hw1/.ipynb_checkpoints/homework_01-checkpoint.ipynb
hw1/.DS_Store
.DS_Store
hw2/.ipynb_checkpoints/homework_02-checkpoint.ipynb
CaseStudy/
Lab01/CS 686 - Lab 01 - k-means.pdf
Lab02/CS 686 - Lab 02 - Decision Trees.pdf
hw4/CS 686 - Assignment 04 - ML general.pdf
Lab03/CS 686 - Lab 03 - Perceptron.pdf
.vscode/settings.json
hw4/.ipynb_checkpoints/hw4-checkpoint.ipynb
Lab03/.ipynb_checkpoints/test-checkpoint.ipynb
Lab03/__pycache__/classifier.cpython-36.pyc
Lab03/__pycache__/perceptron.cpython-36.pyc
